# Model checkpoints - DON'T track these
*.ckpt
*.pth
*.pt
*.safetensors

# Data files
*.cvw
*.xlsx
data/

# Tools and binaries
*.jar
*.zip
bftools/
tools/
javabridge/

# Virtual environments
*.venv
env/

# Python
__pycache__/
*.pyc
*.pyo

# Outputs
outputs/
JDS_PROJECT/cell_analysis/lightning_logs/
models/

# System
.DS_Store
.models
.data
.splits

/cell_analysis/logs
/cell_analysis/lightning_logs
/cell_analysis/checkpoints
/cell_analysis/splits
/cell_analysis/--gres=gpu:a100:1

/.vscode